.headerH {
  color: white;
  background-color: #004953;
  height: 3.5vw;
  margin: 0px;
}

.row {
  height: inherit;
  margin: 0px;
  background-color: inherit;
}

.in {
  background-color: inherit;
  height: inherit;
}

.location {
  background-color: inherit;
  font-size: 2vw;
  height: inherit;
  margin: 0px;
  margin-left: 1vw;
}

.logod {
  margin-left: 1.5vw;
  background-color: transparent;
}

.directions {
  background-color: lightgreen;
  height: inherit;
  margin: 0px;
  color: black;
  display: flex;
  width: fit-content;
  margin-left: 1vw;
  display: inline;
  font-size: 1vw;
  padding: 0.5vw;
  border-radius: 1vw;
  text-decoration: none;
}

.pheM {
  background-color: inherit;
  margin: 0px;
  font-size: 1.5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.PHEM {
  background-color: inherit;
  height: inherit;
}

.hrsTitle {
  display: flex;
  text-decoration: none;
  justify-content: center;
  background-color: inherit;
  width: 100%;
}

.hrs {
  background-color: inherit;
  margin: 0px;
  font-size: 0.5vw;
  display: flex;
  justify-content: center;
  color: inherit;
}

.logo {
  background-color: transparent;
}


