.headerHM {
  color: white;
  background-color: #004953;
  height: 6vh;
  margin: 0px;
  display: flex;
  justify-content: center;
}

.row {
  height: inherit;
  margin: 0px;
  background-color: inherit;
}

.in {
  background-color: inherit;
  height: inherit;
}

.locationM {
  background-color: inherit;
  font-size: 1.5vh;
  height: 2vh;
  margin: 0px;
  margin-left: 1vw;
  display: flex;
  justify-content: center;
}

.directionsOverall{
  height: 2vh;
  display: flex;
  justify-content: center;
}

.logod {
  margin-left: 1.5vw;
  background-color: transparent;
}

.directionsM {
  background-color: lightgreen;
  height: fit-content;
  margin: 0px;
  color: black;
  display: flex;
  width: fit-content;
  margin-left: 1vw;
  display: inline;
  font-size: 1vw;
  padding: .1vh;
  border-radius: .3vh;
  text-decoration: none;
  align-items: center;
}

.pheMM {
  background-color: inherit;
  margin: 0px;
  font-size: 1.1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
}

.PHEMM {
  background-color: inherit;
  height: inherit;
  height: 1vh;
}

.hrsTitle {
  display: flex;
  text-decoration: none;
  justify-content: center;
  background-color: inherit;
  width: 100%;
}

.hrs {
  background-color: inherit;
  margin: 0px;
  font-size: 0.5vw;
  display: flex;
  justify-content: center;
  color: inherit;
}

.logo {
  background-color: transparent;
}


