.navBlockM {
  background-color: black;
  height: 12vh;
  width: 100vw;
}

.row {
  height: inherit;
}

.titleM {
  display: flex;
  margin: 0px;
  align-items: center;
  background-color: black;
}

.titleM span {
  margin: 0px;
  font-size: 5.3vh;
  background-color: black;
}

.siteMap {
  width: 100%;
  display: flex;
  align-items: top;
  justify-content: right;
  background-color: black;
}

.siteMapOptions {
  color: red;
  background-color: black;
  list-style: none;
  text-decoration: none;
  background-color: black;
  height: 0px;
}

.navItemM {
  color: red;
  text-decoration: none;
  font-size: x-large;
  background-color: black;
}

.navAppear {
  overflow: hidden;
  animation-name: slide;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  animation-duration: 0.3s;
  height: 15vh;
}

@keyframes slide {
  from {
    height: 0;
    display: none;
  }
  to {
    height: 15vh;
    display: block;
  }
}
