
.navBlock {
    background-color: black;
    height: 8vw;
    width: 100%;
    margin: 0px;
    padding: 0px;
 

}
.in {
    background-color: inherit;
    height: inherit;
	width: inherit;
}
.title {
    background-color: inherit;
    display: flex;
    justify-content: center;

}

.title span {
    background-color: inherit;
    font-size: 5.5vw;
    
}




.navO {
  background-color: inherit;
 height: inherit;
 display: flex;
 justify-content: center;
}

.nav {
    background-color: inherit;
   
}
.nav-item {
    display: flex;
    align-items: center;
    background: inherit;
    justify-content: center;

}

.navItem {
    color: white;
    align-items: center;
    background: linear-gradient(to left, black 50%, red 50%) right;
background-size: 200% 100%;
font-size: 2vw;
text-decoration: none;
border-radius: .5vw;




}



.navItem:hover {
    color: black;
    transition-duration: 500ms;
    background-position: left;

}








a {
text-decoration: none;}