.navBlock {
    background-color: black;
    height: 18vh;
    display: flex;
 

}

.title {

    display: flex;
    margin-right: 20%;
    align-items: center;
}

.title h1 {
    font-size: 7rem;
}


.nav {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.navList {
   margin-right: auto;
    font-size: x-large;
    display: flex;
    height: 100%;
    align-items: center;
    
}

.navItem {
    color: white;
    align-items: center;
    background: linear-gradient(to left, black 50%, red 50%) right;
background-size: 200% 100%;
font-size: x-large;

}



.navItem:hover {
    transition-duration: 500ms;
    background-position: left;

}








a {
text-decoration: none;}